<% include header %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Matcha</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="/profile">My Profile</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img src="static/images/<%=locals.user.id%>.jpg" id="dashboard_picture" alt="" style="width: 100%">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Chat<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Visitors</a></li>
                <li><a href="#">Matches</a></li>
                <li id="online_members"><a href="#">Online Members</a></li>
            </ul>
            <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--</ul>-->
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Chat</h1>

            <div class="row">
                <div class="col-sm-9 message_section">
                    <div class="row">
                        <div class="new_message_head">
                            <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right"><div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </div></div>
                        </div><!--new_message_head-->

                        <div class="chat_area">
                            <ul class="list-unstyled">

                                <li class="left clearfix admin_chat">
                                    <span class="chat-img1 pull-right">
                                        <img src="static/images/<%=locals.user.id%>.jpg" width="100%" height="300" class="img-responsive img-thumbnail center-block" alt="Generic placeholder thumbnail">
                                    </span>
                                    <div class="chat-body1 clearfix">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                        <div class="chat_time pull-left">09:40PM</div>
                                    </div>
                                </li>
                                <li class="left clearfix admin_chat">
                                    <span class="chat-img1 pull-right">
                                        <img src="static/images/<%=locals.user.id%>.jpg" width="100%" height="300" class="img-responsive img-thumbnail center-block" alt="Generic placeholder thumbnail">
                                    </span>
                                    <div class="chat-body1 clearfix">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                        <div class="chat_time pull-left">09:40PM</div>
                                    </div>
                                </li>




                            </ul>
                        </div><!--chat_area-->
                        <div class="message_write">
                            <textarea class="form-control" placeholder="type a message"></textarea>
                            <div class="clearfix"></div>
                            <div class="chat_bottom">
                                <a href="#" class="pull-right btn btn-success">Send</a>
                                <input id="send" type="submit" class="btn btn-primary btn-sm" id="btn-chat">Send</input>
                            </div>
                        </div>
                    </div>
                </div> <!--message_section-->
            </div>

            <div class="row">
                <div class="panel-footer">
                    <form id="form" action="">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                            <input id="send" type="submit" class="btn btn-primary btn-sm" id="btn-chat">Send</input>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    let socket = io.connect();

    $('#message').focus();
    $('#form').submit(function(event){
        event.preventDefault();
        socket.emit('new_message', {message: $('#message').val()})
        $('#message').val('');
        $('#message').focus();
    });

    socket.on('new_message', (message)=>{

    })


    socket.emit('login', {
        user_name : "<%=locals.user.user_name%>",
        user_id : "<%=locals.user.id%>",
        socket_id : socket.id
    });

    socket.on('new_user', function(user){
        $('#online_members').append('<img src="static/images/'+user.id+'.jpg" class="img-responsive" id="'+user.id+'">');
    });

    socket.on('logout', function(user){
        $('#'+user.user_id).remove();
    })

</script>

<% include fin %>