<% include header %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Matcha</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="/myProfile">My Profile</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img src="static/images/<%=locals.profile.id%>.jpg" id="dashboard_picture" class="img-responsive" alt="">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Chat<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Visitors</a></li>
                <li><a href="#">Matches</a></li>
                <!--<li><a href="#">Export</a></li>-->
            </ul>
            <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="well">My pictures</h1>
            <% if(locals.success !== undefined && locals.success == "true")
            { %>
            <div class="alert alert-success">
                <strong>You changes have been successfully saved.</strong>
            </div>
            <% } %>

            <div class="col-lg-12">
                <div class="row">
                    <%
                        if (locals.profile.images !== undefined)
                        {
                            for (k in locals.profile.images)
                            {
                                %>
                                <div class="col-xs-6 col-sm-5 col-md-5 col-lg-2 photo">
                                    <img src="static/images/<%=locals.profile.images[k].img%>" alt="" class="img-responsive" style="<%=locals.profile.profile_picture == locals.profile.images[k].img ? "border: 3px solid black" : ""%>">
                                    <button type="button" class="btn btn-default picture" aria-label="Left Align" style="<%=locals.profile.profile_picture == locals.profile.images[k].img ? "display:none;" : ""%>">
                                        <span>set as profile picture</span>
                                    </button>
                                    <div class="btn btn-default current" style="<%=locals.profile.profile_picture == locals.profile.images[k].img ? "" : "display: none;"%>">
                                        <strong>Current profile picture</strong>
                                    </div>
                                    <button type="button" class="btn btn-default delete" aria-label="Left Align">
                                        Delete
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: firebrick;"></span>
                                    </button>
                                </div>
                                <%
                            }
                        }
                    %>
                </div>
            </div>

            <div class="col-lg-12 well">
                <div class="row">
                    <form method="post" enctype="multipart/form-data">
                        <div class="col-sm-12">
                            <div class="form-group <%= locals.errors !== undefined && locals.errors.file !== undefined  ? "has-error has-feedback": ""%>">
                                <% if (locals.errors !== undefined && locals.errors.file !== undefined) { %>
                                <label class="control-label" for="inputError1"><%= locals.errors.file %></label>
                                <% }
                                else
                                {%>
                                <label>My images</label>
                                <%}%>
                                <input type="file" class="form-control" name="img" value="" enctype="multipart/form-data"/>
                            </div>

                            <input type="hidden" name="profile_picture" value="" id="profile_picture">
                            <input type="hidden" name="delete" value="" id="delete">

                            <button type="submit" class="btn btn-lg btn-info" value="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>


<script>
//    let $photo = $('.photo');

    $('.picture').click(function () {
        $('.picture').show();
        $('.img-responsive').css("border", "");
        $(this).hide();
        $('.current').hide();
        $(this).parent('.photo').children('.current').show();
        $(this).parent('.photo').children('.img-responsive').css("border", "3px solid black");

        document.getElementById("profile_picture").value = $(this).parent('.photo').children('.img-responsive').attr('src');
    })

    $('.delete').click(function () {
        $(this).parent('.photo').hide();

        document.getElementById("delete").value = $(this).parent('.photo').children('.img-responsive').attr('src');
    })
</script>





<% include fin %>


