<% include header %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">My Profiles</h1>

            <div class="row">
                <div class="col-xs-12 col-sm-4 " style="">
                    <div class="row">
                        <img src="static/images/<%=locals.profile.profile_picture%>" width="100%" height="300" class="img-responsive img-thumbnail center-block" alt="Generic placeholder thumbnail">
                        <!--<span class="text-muted">Something else</span>-->
                    </div>
                    <!--<div class="row" style="">-->
                        <!--<button type="button" class="btn btn-info" style="width: 100%;">LIKE</button>-->
                    <!--</div>-->
                    <div class="row" id="floating-panel">
                        <form action="" method="post">
                            <input id="address" type="textbox" value="paris">
                            <input id="change_location" type="button" value="Change location">
                            <input id="reset_location" type="button" value="Reset location">
                            <input type="hidden" name="lat" id="lat" value="">
                            <input type="hidden" name="lng" id="lng" value="">
                            <input type="hidden" name="reset" id="reset" value="">
                            <button type="submit" class="btn btn-lg btn-info" value="submit">Save changes</button>
                        </form>
                    </div>
                    <div id="map-container" class="row" style="border: solid;">
                        <div id="map" style="height: 100%"></div>
                    </div>
                    <div class="row">
                        <h4 style="border-bottom: 1px solid #eee;" >Popularity</h4>
                        <div class="panel-body" style="padding-bottom: 0">
                            <div class="row">
                                <div class="col-xs-4">
                                    visited
                                </div>
                                <div class="col-xs-8" style="text-align: right">
                                    <strong style="color: orangered;">20</strong> x 123 = 1230
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom: 0">
                            <div class="row">
                                <div class="col-xs-4">
                                    liked
                                </div>
                                <div class="col-xs-8" style="text-align: right">
                                    <strong style="color: orangered;">20</strong> x 123 = 1230
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    matches
                                </div>
                                <div class="col-xs-8" style="text-align: right">
                                    <strong style="color: orangered;">20</strong> x 123 = 1230
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer col-xs-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <h5>Total score</h5>
                                </div>
                                <div class="col-xs-8">
                                    <h5 style="text-align: right; font-size: large">= 1230</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8">
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Online</h4>
                            </div>
                            <div class="col-xs-6" style="text-align: right">
                                <a href="/editProfile" class="btn btn-info">Edit my profile</a>
                            </div>
                            <div class="col-xs-12">
                                <h1 style="font-size: 50px;"><%= locals.profile !== undefined && locals.profile.user_name !== undefined ? locals.profile.user_name : "random"%></h1>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6" style="text-align: left">
                                        <h4><%=locals.profile.age%> ans</h4>
                                    </div>
                                    <div class="col-xs-6" style="text-align: right">
                                        <h4><% for (k in locals.profile.tags)
                                        {
                                            if(k == 0)
                                            {
                                            %>#<%=locals.profile.tags[k].tag%><%
                                            }
                                            else
                                            {
                                            %>, #<%=locals.profile.tags[k].tag%><%
                                            }
                                        }%></h4>
                                        <!--<h4>#tag #tag #tag</h4>-->
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xs-12" style="text-align: right; margin-top: 20px">-->
                                <!--<button type="button" class="btn btn-warning">report as a fake</button>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="well">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center">
                                <h3>Details</h3>
                            </div>
                            <div class="col-xs-6" style="text-align: center">
                                Last Name : <%= locals.profile !== undefined && locals.profile.last_name !== undefined ? locals.profile.last_name : "random"%>
                            </div>
                            <div class="col-xs-6" style="text-align: center">
                                First Name : <%= locals.profile !== undefined && locals.profile.first_name!== undefined ? locals.profile.first_name : "random"%>
                            </div>
                            <div class="col-xs-6" style="text-align: center">
                                Gender : <%= locals.profile !== undefined && locals.profile.gender !== undefined ? locals.profile.gender : "random"%>
                            </div>
                            <div class="col-xs-6" style="text-align: center">
                                Sexual orientation : <%=locals.profile.sex_orientation%>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center;">
                                <h3>About</h3>
                            </div>
                            <div class="col-xs-12">
                                <%= locals.profile.bio %>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
                <!--<h4>Label</h4>-->
                <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">-->
                <!--<h4>Label</h4>-->
                <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
            </div>

            <!--<h2 class="sub-header">Section title</h2>-->
            <!--<div class="table-responsive">-->

            <!--</div>-->
        </div>
    </div>
</div>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--<script src="../static/js/myProfile.js"></script>-->

<script>
    $('#map-container').height('250px');

    function initMap() {

        var geocoder = new google.maps.Geocoder();
        if (navigator.geolocation) {
            console.log($('#lat').val())

            navigator.permissions && navigator.permissions.query({name: 'geolocation'}).then(function(PermissionStatus) {
                if(PermissionStatus.state == 'granted')
                {
                    if ($('#reset').val() == "")
                    {
                        var pos = {
                            lat: <%= locals.profile.ip.lat %>,
                            lng: <%= locals.profile.ip.lng %>
                        };

                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: <%= locals.profile.ip.lat %>, lng: <%= locals.profile.ip.lng %>},
                            zoom: 11
                        });

                        var marker = new google.maps.Marker({
                            position: {lat: <%= locals.profile.ip.lat %>, lng: <%= locals.profile.ip.lng %>},
                            map: map,
                            title: 'Hello World!'
                        });
                        map.setCenter(pos);
                        geocodeLatLng(geocoder, <%=locals.profile.ip.lat%>, <%=locals.profile.ip.lng%>)
                        $('#change_location').click(function () {
                            geocodeAddress(geocoder, map);
                        })
                    }
                    else
                    {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };
                            var map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: <%= locals.profile.ip.lat %>, lng: <%= locals.profile.ip.lng %>},
                                zoom: 11
                            });

                            var marker = new google.maps.Marker({
                                position: {lat: pos.lat, lng: pos.lng},
                                map: map,
                                title: 'Hello World!'
                            });

                            document.getElementById("lat").value = pos.lat;
                            document.getElementById("lng").value = pos.lng;
                            console.log($('#lat').val());
                            map.setCenter(pos);
                            geocodeLatLng(geocoder, pos.lat, pos.lng)
                            $('#change_location').click(function () {
                                geocodeAddress(geocoder, map);
                            })
                        });

                    }

                }
                else
                {
                    var pos = {
                        lat: <%= locals.profile.ip.lat %>,
                        lng: <%= locals.profile.ip.lng %>
                    };

                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: <%= locals.profile.ip.lat %>, lng: <%= locals.profile.ip.lng %>},
                        zoom: 11
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= locals.profile.ip.lat %>, lng: <%= locals.profile.ip.lng %>},
                        map: map,
                        title: 'Hello World!'
                    });
                    map.setCenter(pos);
                    geocodeLatLng(geocoder, <%=locals.profile.ip.lat%>, <%=locals.profile.ip.lng%>)
                    $('#change_location').click(function () {
                        geocodeAddress(geocoder, map);
                    })
                }
            })


        }
        else
        {
            if (<%=locals.profile.ip.lat%> != undefined && <%=locals.profile.ip.lng%> != undefined)
            {
                var pos = {
                    lat: <%= locals.profile.ip.lat %>,
                    lng: <%= locals.profile.ip.lng %>
                };

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: <%=locals.profile.ip.lat%>, lng: <%=locals.profile.ip.lng%>},
                    zoom: 11
                });
                var marker = new google.maps.Marker({
                    position: {lat: <%=locals.profile.ip.lat%>, lng: <%=locals.profile.ip.lng%>},
                    map: map,
                    title: 'Hello World!'
                });
                map.setCenter(pos);
                geocodeLatLng(geocoder, <%=locals.profile.ip.lat%>, <%=locals.profile.ip.lng%>)
            }
            $('#change_location').click(function () {
                geocodeAddress(geocoder, map);
            })
        }



//        var geocoder = new google.maps.Geocoder();
    }

    function geocodeLatLng(geocoder, lat, lng) {
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
        geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK') {
                if (results[1]) {
                    console.log(results[0]);
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }


    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
                document.getElementById("lat").value = results[0].geometry.location.lat();
                document.getElementById("lng").value = results[0].geometry.location.lng();
                console.log($('#lat').val());
                console.log($('#lng').val());

            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    $('#reset_location').click(function () {
//        document.getElementById("lat").value = 'reset';
        document.getElementById("reset").value = 'reset';
        initMap();

        navigator.permissions && navigator.permissions.query({name: 'geolocation'}).then(function(PermissionStatus) {
            if(PermissionStatus.state == 'granted'){
                //allowed
            }else{
                document.getElementById("lat").value = 0;
                document.getElementById("lng").value = 0;
            }
        })
    })


</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGJIJcckh-FIJHoBfaC-7e-s6uxIMUfIE&callback=initMap"></script>



<% include fin %>