<% include header_bis %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>
    </div>
</nav>


<div class="container">

    <% if (locals.success_pass !== undefined)
    {
    %><div class="alert alert-success">
        <strong><%=locals.success_pass%></strong>
    </div><%
    } else { %>

    <form class="form-signin <%= locals.errors !== undefined ? "has-error has-feedback": ""%>" method="post">
        <div class="form-group <%= locals.errors !== undefined && locals.errors.password !== undefined ? "has-error has-feedback": ""%>">
            <% if (locals.errors !== undefined && locals.errors.password !== undefined) { %>
            <label class="control-label" for="inputError1"><%= locals.errors.password %></label>
            <% } else {%>
            <label>Password</label>
            <%}%>
            <input type="password" name="password" placeholder="Enter your Password" class="form-control">
        </div>
        <div class="form-group <%= locals.errors !== undefined && locals.errors.confirm_password !== undefined ? "has-error has-feedback": ""%>">
            <% if (locals.errors !== undefined && locals.errors.confirm_password !== undefined) { %>
            <label class="control-label" for="inputError1"><%= locals.errors.confirm_password %></label>
            <% } else {%>
            <label>Password Confirmation</label>
            <%}%>
            <input type="password" name="confirm_password" placeholder="Confirm your Password" class="form-control">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Validate my new password</button>
    </form>
    <%}%>
</div> <!-- /container -->


<% include footer %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>