<% include header %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Suggested Profiles</h1>

            <div class="row ">
                <form method="post">
                    <div class="col-xs-12">
                        <legend>Filter</legend>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <p>
                                    <label for="age">Age : </label>
                                    <input type="text" id="age" name="age" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>

                                <input type="hidden" id="location_id" name="location" value="">
                                <div id="age-range"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <p>
                                    <label for="location">location between 0 and :</label>
                                    <input type="text" id="location" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>

                                <div id="location-range-min"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <p>
                                    <label for="score">Popularity : </label>
                                    <input type="text" id="score" name="score" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>

                                <div id="popularity-range"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>tags</label>
                                <select id="tags" name="tags" data-live-search="true" class="form-control selectpicker" value="" multiple>
                                    <% if (locals.tags !== undefined)
                                    {
                                        for (k in locals.tags)
                                        {
                                            %><option value="<%=locals.tags[k].tag%>"><%=locals.tags[k].tag%></option><%
                                        }
                                    }%>
                                </select>
                            </div>
                        </div>
                        <div style="text-align: right">

                            <button type="submit" class="btn btn-lg btn-info" value="submit">Filter</button>
                        </div>
                    </div>

                </form>

                <div class="row">
                    <legend>Sort</legend>
                    <form method="post">
                        <div class="col-sm-6 form-group">
                            <select id="sort" name="sort" class="form-control">
                                <option value="all">All</option>
                                <option value="age">Age</option>
                                <option value="location">Location</option>
                                <option value="popularity">Popularity</option>
                                <option value="tags">Tags</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-lg btn-info" value="submit">Sort</button>
                    </form>
                </div>
                <% for (k in locals.profile)
                {
                %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 thumbnail placeholders">
                        <% if (locals.profile[k].profile_picture !== null && locals.profile[k].profile_picture !== ""){
                        %><img src="static/images/<%=locals.profile[k].profile_picture%>" width="100%" height="200" class="img-responsive center-block" alt="">
                        <% }else { %>    <img src="static/images/No_Image.jpg" width="100%" height="200" class="img-responsive center-block" alt="">
                        <% } %>
                        <a href="/user_profile?user_name=<%=locals.profile[k].user_name%>"><h3><%=locals.profile[k].user_name%></h3></a>
                    </div>
                <%
                }
                %>

            </div>
    </div>
</div>

<% include footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="static/js/bootstrap-select.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="static/js/bootstrap-notify.js"></script>

<script>
    $('#menu_profile').addClass('active');
</script>

<script>
    $( function() {
        $( "#age-range" ).slider({
            range: true,
            min: 18,
            max: 100,
            values: [ 18, 100],
            slide: function( event, ui ) {
                $( "#age" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#age" ).val($( "#age-range" ).slider( "values", 0 ) +
            " - " + $( "#age-range" ).slider( "values", 1 ) );
    } );

    $( function() {
        $( "#popularity-range" ).slider({
            range: true,
            min: 0,
            max: 100,
            values: [ 0, 100],
            slide: function( event, ui ) {
                $( "#score" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        });
        $( "#score" ).val($( "#popularity-range" ).slider( "values", 0 ) +
            " - " + $( "#popularity-range" ).slider( "values", 1 ) );
    } );

    $( function() {
        $( "#location-range-min" ).slider({
            range: "min",
            value: 10,
            min: 1,
            max: 5000,
            slide: function( event, ui ) {
                $( "#location" ).val( ui.value + "miles" );
            }
        });
        $( "#location" ).val($( "#location-range-min" ).slider( "value" ) + "miles" );
        $( "#location_id" ).val($( "#location-range-min" ).slider( "value" ));
    } );




</script>


<script>
    let count = <%=locals.count_notif%>;
    let socket = io.connect();

    socket.emit('join', {user_name : '<%=locals.user_name%>'})
</script>

<script type="text/javascript" src="static/js/notif.js"></script>


<% include fin %>