<% include header %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>
    </div>
</nav>


<div class="container">
    <% if(locals.success !== undefined && locals.success == "true")
    { %>
    <div class="page-header">
        <h1>Welcome <strong style="color : dodgerblue"><%= locals.user_name %></strong>, you are now registered. <br></br>
            A confirmation email has been sent to your email. <br></br>
            Click <a href="/signin">here</a> to connect</h1>
    </div>
    <% } else { %>


    <h1 class="well">Create your account</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form method="post">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group <%= locals.errors !== undefined && locals.errors.first_name !== undefined ? "has-error has-feedback": ""%>">
                            <% if (locals.errors !== undefined && locals.errors.first_name !== undefined) { %>
                            <label class="control-label" for="inputError1"><%= locals.errors.first_name %></label>
                            <% }
                            else {%>
                            <label>First Name</label>
                            <% }%>
                            <input value="<%= locals.body !== undefined ? locals.body.first_name : "" %>" type="text" name="first_name" placeholder="Enter your First Name" class="form-control">

                        </div>
                        <div class="col-sm-6 form-group <%= locals.errors !== undefined && locals.errors.last_name !== undefined ? "has-error has-feedback": ""%>">
                            <% if (locals.errors !== undefined && locals.errors.last_name !== undefined) { %>
                            <label class="control-label" for="inputError1"><%= locals.errors.last_name %></label>
                            <% }
                            else {%>
                            <label>Last Name</label>
                            <%}%>
                            <input value="<%= locals.body !== undefined ? locals.body.last_name : "" %>" type="text" name="last_name" placeholder="Enter your Last Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.user_name !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.user_name !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.user_name %></label>
                        <%}
                        else {
                        %>
                        <label>User name</label>
                        <%}%>
                        <input value="<%= locals.body !== undefined ? locals.body.user_name : "" %>" type="text" name="user_name" placeholder="Choose an user name" class="form-control">
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.password !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.password !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.password %></label>
                        <% } else {%>
                        <label>Password</label>
                        <%}%>
                        <input type="password" name="password" placeholder="Enter your Password" class="form-control">
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.confirm_password !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.confirm_password !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.confirm_password %></label>
                        <% } else {%>
                        <label>Password Confirmation</label>
                        <%}%>
                        <input type="password" name="confirm_password" placeholder="Confirm your Password" class="form-control">
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.email !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.email !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.email %></label>
                        <% }
                        else
                        {%>
                        <label>Email</label>
                        <%}%>
                        <input value="<%= locals.body !== undefined ? locals.body.email : "" %>" type="text" name="email" placeholder="Enter your Email" class="form-control">
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.date_of_birth !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.date_of_birth !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.date_of_birth %></label>
                        <% }
                        else
                        {%>
                        <label>Date of birth</label>
                        <% } %>
                        <input value="<%= locals.body !== undefined ? locals.body.date_of_birth : "" %>" type="text" name="date_of_birth" placeholder="dd/mm/yyyy" class="form-control">
                    </div>
                    <div class="form-group <%= locals.errors !== undefined && locals.errors.radio !== undefined ? "has-error has-feedback": ""%>">
                        <% if (locals.errors !== undefined && locals.errors.radio !== undefined) { %>
                        <label class="control-label" for="inputError1"><%= locals.errors.radio %></label>
                        <% } else { %>
                        <label>Gender</label><%}%>   </br>
                        <!--<input type="text" placeholder="Man or Woman" class="form-control">-->
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="gender" id="gender_male" value="man" <%= locals.body !== undefined && locals.body.gender == 'man' ? "checked" : "" %>>
                                Man
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="gender" id="gender_female" value="woman" <%= locals.body !== undefined && locals.body.gender == 'woman' ? "checked" : "" %>>
                                Woman
                            </label>
                        </div>

                    </div>


                    <button type="submit" class="btn btn-lg btn-info" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>


<% include footer %>


<% include fin %>
